html,
body {
  font-family: "Poppins", sans-serif;
}

.slide-pane__header {
  visibility: hidden;
}

.slide-pane__overlay {
  z-index: 100;
}

.slider {
  background-color: #efefef;
  /* height: 50vh !important; */
}
